<strong>Olá, {{ provider }}!</strong>
<p>Houve um cancelamento de horário, confira ps detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
</p>
<h5>
  <p>horário está novamente disponível para novos agendamentos.</p>
</h5>